body {
  font-family: "Microsoft YaHei"; 
  background-color: rgb(47,47,47);
  height: 100%;
}
button {
	width:100px;
	font-size: 11px;
	height: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
	border:1px solid rgb(89,87,87);
}
.header h2{
	margin-top: 147px;
	margin-bottom: 15px;
	text-align: center;
}
.title_ p{
	text-align: center;
	margin: 8px 0px;
	font-size: 14px;
}
.home_page_p {
	color:red;
	font-size: 10px;
}
.title p{
	font-size: 14px;
	margin: 8px 0px;
}
.p2title {
	font-size: 16px;
	background-color: rgb(0,160,234);
	color: white;
	width:60%;
	text-align: center;
}
.p2title_ {
	margin-left: 10px;
	font-size: 16px;
	color: white;
}
.p3title {
	font-size: 16px;
	background-color: rgb(142,194,31);
	color: white;
	width:60%;
	text-align: center;
}
.p7title p{
	font-size: 16px;
	color: rgb(205,45,45);
}
.p4-content {
	margin: 20px 10px 20px 10px;
	font-size: 12px;
	color: white;
}
.p21-content {
	font-size: 11px;
	color: white;
}
.p7-chart{
	margin-left: 10px;
	width:95%;
	min-height: 15px;
    min-width: 25px;
	background-color: white;
	margin-bottom: 2px;
	border-radius:25px;
}
.p19-chart{
	margin-left: 38px;
	min-height: 13px;
    min-width: 25px;
	background-color: rgb(141,194,31);
	margin-bottom: 2px;
	text-align: right;
}
.p21-chart{
	margin-left: 70px;
	min-height: 13px;
    min-width: 35px;
	background-color: rgb(141,194,31);
	margin-bottom: 2px;
	text-align: right;
}
.p23-chart{
	margin-left: 38px;
	min-height: 13px;
    min-width: 40px;
	background-color: rgb(242,150,0);
	margin-bottom: 2px;
}
.p24-1chart{
	margin-left: 38px;
	min-height: 13px;
    min-width: 25px;
	background-color: rgb(144,196,50);
	margin-bottom: 2px;
}
.p24-2chart{
	margin-left: 38px;
	min-height: 13px;
    min-width: 25px;
	background-color: rgb(0,149,206);
	margin-bottom: 2px;
}
.p34-chart{
	margin-left: 30px;
	min-height: 13px;
    min-width: 25px;
	background-color: rgb(203,47,43);
	margin-bottom: 2px;
}
.p7title{
	width:100px;
	font-size: 11px;
	height: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	border:1px solid rgb(89,87,87);
}
.p7-1 {
	width:50%;
	background-color: rgb(89,87,87);
	height: 15px;
	float:left;
	display:inline;
	color: rgb(229,229,230);
	text-align: center;
}
.p7-2 {
	width:50%;
	background-color: rgb(47,47,47);
	height: 15px;
	float:left;
	display:inline;
	color: rgb(89,87,87);
	text-align: center;
}
.p8title_ {
	font-size: 12px;
	color: white;
}
