/*
body {
    font-family: "helvetica";
}
*/
button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}

.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}
.p19hbar {
    min-height: 13px;
    min-width: 1px;
    background-color: rgb(205,45,45);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    float:left;
}
.p24-1hbar {
    min-height: 13px;
    min-width: 1px;
    background-color: rgb(0,146,97);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    float:left;
}
.p24hbar {
    min-height: 13px;
    min-width: 1px;
    background-color: rgb(205,45,45);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}
.p24-2hbar {
    min-height: 13px;
    min-width: 1px;
    background-color: rgb(3,110,183);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    float:left;
}
.p34hbar {
    min-height: 13px;
    min-width: 1px;
    background-color: rgb(219,220,220);
    margin-bottom: 2px;
    font-size: 11px;
    color: rgb(205,45,45);
    text-align: right;
    padding-right: 2px;
    float:left;
}
.p19wrapper{
    position: absolute;
    bottom:10px;
    z-index: -1;
}
.p23wrapper{
    position: absolute;
    bottom:5px;
    z-index: -1;
}
.p24-1wrapper{
    position: absolute;
    top:35px;
    z-index: -1;
}
.p24-2wrapper{
    position: absolute;
    top:35px;
    z-index: -1;
}
.p26-1wrapper{
    position: absolute;
    top:35px;
    z-index: -1;
}
#canvas-svg {
    position: absolute;
    top:90px;
}
#canvas-svg2 {
    position: absolute;
    bottom:29px;
}
#canvas-svg4 {
    position: absolute;
    bottom:44px;
}
#canvas-svg5 {
    position: absolute;
    bottom:50px;
}
#canvas-svg6 {
    position: absolute;
    top:10px;
}
#canvas-svg7 {
    position: absolute;
    top:240px;
}
#canvas-svg8 {
    position: absolute;
    top:60px;
}
#canvas-svg9 {
    position: absolute;
    top:270px;
}
#canvas-svg10 {
    position: absolute;
    top:60px;
}
#canvas-svg13 {
    position: absolute;
    top:100px;
}
#canvas-svg14 {
    position: absolute;
    top:100px;
}
.hbar {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(205,45,45);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar2 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(205,45,45);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar3 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(242,150,0);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar4 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(242,150,0);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar5 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(141,194,31);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar6 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(141,194,31);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar7 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(0,146,97);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.hbar8 {
    min-height: 15px;
    min-width: 1px;
    background-color: rgb(0,146,97);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
    border-radius:25px;
}
.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.baseline {
    height: 1px;
    background-color: black;
}

.clear {
    clear: both;
}

.selected {
    background-color: #f08080;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
}

.table {
    width: 70%;
}

.table td, th {
    padding: 5px;
}

.table-header {
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd {
    background-color: #f0f8ff;
}

.table-row-odd {
    background-color: #d3d3d3;
}

.code {
    display: inline-block;
    font-style: italic;
    background-color: #d3d3d3;
    border: #969696 solid thin;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countdown{
    width: 150px;
    height: 150px;
    font-size: 5em;
    font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
    stroke: none;
    fill: steelblue;
    fill-opacity: .2;
}

.pie text{
    fill: white;
    font-weight: bold;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.cross {
    stroke: none;
    fill: blue;
    fill-opacity: .7;
}

.diamond {
    stroke: none;
    fill: green;
    fill-opacity: .7;
}

.square{
    stroke: none;
    fill: yellow;
    fill-opacity: .7;
}

.triangle-down{
    stroke: none;
    fill: blueviolet;
    fill-opacity: .7;
}

.triangle-up{
    stroke: none;
    fill: darkred;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

.bar{
    stroke: none;
    fill: steelblue;
}
.left {
    position: absolute;
    left: 20px;
}
.left2 {
    position: absolute;
    left: 20px;
    color: black;
}
.left3 {
    position: absolute;
    left: 20px;
    color: red;
}
.p19left {
    position: absolute;
    left: 40px;
}
.p21left {
    position: absolute;
    left: 70px;
}
.p34left {
    position: absolute;
    left: 32px;
    font-size: 11px;
}
.p35left {
    position: absolute;
    left: 32px;
    font-size: 11px;
}
.right {
    position: absolute;
    left: 50%;
    color: black;
}
.text-right{
    float:right;
    font-size:11px;
    color: white;
    font-family: "helvetica";
}
.p19right {
    text-align: right;
    position: absolute;
    left: 90%;
    color: white;
}
.p19right-2 {
    text-align: right;
    position: absolute;
    left: 105%;
    color: rgb(89,87,87);
}
.p21right-2 {
    text-align: right;
    position: absolute;
    left: 105%;
    color: rgb(203,47,43);
}
.number {
    position: absolute;
    left: 0%;
    color: rgb(205,45,45);
    font-size: 14px;
    margin-left: 2px;
}
.number2 {
    position: absolute;
    left: 0%;
    color: rgb(242,150,0);
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
}
.number3 {
    position: absolute;
    left: 0%;
    color: rgb(141,194,31);
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
}
.number4 {
    position: absolute;
    left: 0%;
    color: rgb(0,146,97);
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
}
.p19number {
    position: absolute;
    left: 0%;
    color: rgb(205,45,45);
    font-size: 14px;]
}
.p21number {
    position: absolute;
    left: 0%;
    color: rgb(205,45,45);
    font-size: 14px;
}
.p24-1number {
    position: absolute;
    left: 0%;
    color: rgb(0,146,97);
    font-size: 14px;
}
.p24number {
    position: absolute;
    left: 0%;
    color: rgb(205,45,45);
    font-size: 14px;
}
.p24-2number {
    position: absolute;
    left: 0%;
    color: rgb(3,110,183);
    font-size: 11px;
}